$basil-green: #88a308;
$breakpoint-med: 640px;
$testred: #900;

/* HW session 6: */
$body-margin-top: 0; /*24px;*/
$beta-top-offset: 7px; /* -20px */
$header-h1-padding-top: 58px; /* 78px */
$header-h1-tranpose-vertical: -60px; /* -80px */
